.photoContact {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    margin-top: 10px;
}

.ic-cc {
    margin-top: 18px;
}

.card {
    width: 750px;
}

.container {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
}
