body {
    background-color: #0a3d6b;
}

* {
    color: #ffe599;
}

input {
    background-color: #000000;
    border-radius: 5px;
}

.card {
    background-color: #a35d15;
    border-radius: 5px;
    border: black 2px solid;
}

.button-AddNewContact {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 250px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.addNewContact {
    background-color: #cc0000;
    border: solid 2px #cc0000;
}

